@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: 宋体; }

html {
  overflow-x: hidden; }

#top {
  width: 1160px;
  height: 53px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  margin-top: 20px; }
  #top #hbLogoA {
    width: 437px;
    height: 36px;
    float: left; }
  #top #search {
    width: 227px;
    height: 28px;
    float: left;
    margin-left: 220px;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 6px;
    /* Gecko browsers */
    -webkit-border-radius: 6px;
    /* Webkit browsers */
    border-radius: 6px;
    /* W3C syntax */
    margin-top: 5px; }
    #top #search input {
      display: block;
      margin-top: 4px;
      float: left;
      margin-left: 10px;
      width: 180px;
      border: none;
      height: 20px; }
    #top #search img {
      display: block;
      margin-top: 5px;
      float: right;
      margin-right: 10px; }
  #top #cjyAPP, #top #weixin {
    width: 96px;
    height: 41px;
    float: left;
    margin-left: 65px; }
    #top #cjyAPP img, #top #weixin img {
      display: block;
      float: left;
      width: 39px;
      height: 39px; }
    #top #cjyAPP .name, #top #weixin .name {
      float: right;
      width: 45px;
      height: 40px;
      margin-top: 5px;
      margin-left: 5px; }
      #top #cjyAPP .name p, #top #weixin .name p {
        font-size: 13px; }
  #top #weixin {
    margin-left: 16px; }

#nav {
  width: 100%;
  height: 36px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  background-color: #3d6bba; }
  #nav ul {
    width: 1160px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: block; }
    #nav ul li {
      float: left;
      display: block;
      margin-right: 13px; }
      #nav ul li p {
        color: white;
        font-size: 14px;
        line-height: 36px;
        font-family: "Microsoft YaHei UI Light"; }
    #nav ul .OA {
      margin-left: 90px;
      margin-right: 14px;
      border-right: 1px solid #2e56a6;
      padding-right: 14px; }

#footer, #playFooter {
  width: 1160px;
  height: 275px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  #footer #ourLink, #playFooter #ourLink {
    padding-bottom: 20px;
    width: 770px;
    height: 16px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
    #footer #ourLink li, #playFooter #ourLink li {
      float: left;
      width: 70px;
      border-right: 1px solid; }
      #footer #ourLink li p, #playFooter #ourLink li p {
        font-size: 12px;
        text-align: center; }
    #footer #ourLink .last, #playFooter #ourLink .last {
      border: none; }
  #footer .hrLine, #playFooter .hrLine {
    border-top: 1px solid #e0e0e0; }
  #footer #info, #playFooter #info {
    margin-top: 30px;
    width: 750px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding-left: 10px; }
    #footer #info img, #playFooter #info img {
      display: block;
      width: 253px;
      height: 65px;
      float: left; }
    #footer #info .infoTEXT, #playFooter #info .infoTEXT {
      width: 460px;
      float: right;
      letter-spacing: 1px; }
      #footer #info .infoTEXT p, #playFooter #info .infoTEXT p {
        font-size: 12px;
        line-height: 20px; }
  #footer #wangjian, #playFooter #wangjian {
    margin-top: 30px;
    padding-right: 30px;
    width: 638px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
    #footer #wangjian img, #playFooter #wangjian img {
      display: block;
      float: left;
      margin-right: 20px; }
    #footer #wangjian .last, #playFooter #wangjian .last {
      margin-right: 0px; }
  #footer #beian, #playFooter #beian {
    margin-top: 20px;
    padding-right: 30px;
    width: 250px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
    #footer #beian img, #playFooter #beian img {
      display: block;
      float: left; }
    #footer #beian p, #playFooter #beian p {
      display: block;
      font-size: 12px;
      font-family: "Microsoft YaHei UI Light";
      line-height: 25px;
      float: left;
      margin-left: 10px; }

#playFooter {
  height: 180px; }
  #playFooter #ourLink li {
    border-color: white; }
    #playFooter #ourLink li p {
      color: white; }
  #playFooter #info img {
    width: 251px;
    height: 38px; }
  #playFooter #info .infoTEXT p {
    color: white; }

#radioNav {
  margin-top: 12px;
  width: 1160px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  #radioNav .ch1 {
    border-color: #05b4fb; }
    #radioNav .ch1 .wxBanner {
      background-color: #05b4fb; }
  #radioNav .ch2 {
    border-color: #d24a4a; }
    #radioNav .ch2 .wxBanner {
      background-color: #d24a4a; }
  #radioNav .ch3 {
    border-color: #92cf9a; }
    #radioNav .ch3 .wxBanner {
      background-color: #92cf9a; }
  #radioNav .ch4 {
    border-color: #efc703; }
    #radioNav .ch4 .wxBanner {
      background-color: #efc703; }
  #radioNav .ch5 {
    border-color: #7fcef4; }
    #radioNav .ch5 .wxBanner {
      background-color: #7fcef4; }
  #radioNav .ch6 {
    border-color: #a7509a; }
    #radioNav .ch6 .wxBanner {
      background-color: #a7509a; }
  #radioNav .ch7 {
    border-color: #e3e949; }
    #radioNav .ch7 .wxBanner {
      background-color: #e3e949; }
  #radioNav .ch8 {
    border-color: #86be0d; }
    #radioNav .ch8 .wxBanner {
      background-color: #86be0d; }
  #radioNav .ch9 {
    border-color: #de4700; }
    #radioNav .ch9 .wxBanner {
      background-color: #de4700; }
  #radioNav .ch10 {
    border-color: #05b4fb; }
    #radioNav .ch10 .wxBanner {
      background-color: #05b4fb; }
  #radioNav li {
    float: left;
    width: 116px;
    height: 30px;
    border-bottom-width: 5px;
    border-bottom-style: solid; }
    #radioNav li p {
      text-align: center;
      font-size: 14px;
      line-height: 20px; }

#topBG {
  position: relative;
  width: 100%;
  height: 39px;
  background-color: #4172bb; }
  #topBG #playTop {
    width: 1160px;
    height: 39px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
    #topBG #playTop #playHbLogo {
      float: left;
      width: 244px;
      height: 39px; }
      #topBG #playTop #playHbLogo img {
        width: 244px;
        height: 39px; }
    #topBG #playTop #playNav {
      float: left;
      width: auto;
      margin-top: 9.5px;
      margin-left: 30px; }
      #topBG #playTop #playNav li {
        height: 20px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid white; }
        #topBG #playTop #playNav li p {
          font-size: 14px;
          text-align: center;
          color: white;
          line-height: 20px; }
      #topBG #playTop #playNav .last {
        border: none;
        padding-right: 0; }
    #topBG #playTop #playSearch {
      float: left;
      height: 25px;
      margin-top: 7px;
      margin-left: 95px;
      width: 200px;
      background-color: white; }
      #topBG #playTop #playSearch img {
        margin-top: 3px;
        margin-left: 3px;
        width: 18px;
        height: 18px;
        float: left; }
      #topBG #playTop #playSearch input {
        float: right;
        margin-top: 2px;
        width: 170px;
        height: 21px;
        margin-right: 3px;
        border: none; }
    #topBG #playTop #OAemail {
      float: left;
      height: 39px;
      margin-left: 168px; }
      #topBG #playTop #OAemail li {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #3c6bb5;
        border-left: 1px solid #3c6bb5; }
        #topBG #playTop #OAemail li p {
          font-size: 14px;
          text-align: center;
          color: white;
          line-height: 39px; }
      #topBG #playTop #OAemail .last {
        border-left: none; }

.banner {
  background-image: url(../img/bannerBG.png); }

body #main #radFoc {
  margin-top: 15px;
  width: 1160px;
  height: 370px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  body #main #radFoc #radFocList {
    margin-top: 5px;
    float: left;
    width: 450px; }
    body #main #radFoc #radFocList .focusTit {
      border-bottom: 1px solid #d4d2d2;
      height: 30px; }
      body #main #radFoc #radFocList .focusTit .name {
        border-bottom: 3px solid #e3642d;
        height: 27px;
        width: 84px; }
    body #main #radFoc #radFocList .title {
      height: 30px; }
      body #main #radFoc #radFocList .title .name {
        float: left; }
        body #main #radFoc #radFocList .title .name img {
          float: left; }
        body #main #radFoc #radFocList .title .name p {
          font-family: "Microsoft YaHei UI";
          font-size: 18px; }
      body #main #radFoc #radFocList .title .more {
        float: right; }
        body #main #radFoc #radFocList .title .more p {
          font-family: "Microsoft YaHei UI";
          font-size: 14px;
          line-height: 30px;
          color: #e3642d; }
    body #main #radFoc #radFocList .content li {
      height: 85px;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 1px solid #d4d2d2;
      margin-top: 10px; }
      body #main #radFoc #radFocList .content li img {
        width: 150px;
        height: 85px;
        float: left; }
      body #main #radFoc #radFocList .content li .txt {
        float: right;
        width: 280px; }
        body #main #radFoc #radFocList .content li .txt .title {
          height: 20px; }
          body #main #radFoc #radFocList .content li .txt .title .name p {
            font-size: 14px; }
        body #main #radFoc #radFocList .content li .txt .content p {
          font-size: 12px;
          line-height: 20px;
          color: #8a8a8a; }
      body #main #radFoc #radFocList .content li .chName {
        float: right; }
        body #main #radFoc #radFocList .content li .chName p {
          font-size: 12px;
          color: #ce3a3a; }
  body #main #radFoc #radFocSli {
    width: 690px;
    height: 370px;
    float: right; }
    body #main #radFoc #radFocSli .slider {
      width: 690px;
      height: 370px; }
    body #main #radFoc #radFocSli .banner {
      height: 38px;
      position: relative;
      top: -38px; }
      body #main #radFoc #radFocSli .banner p {
        color: white;
        font-size: 16px;
        line-height: 38px;
        text-indent: 2em; }
body #main #radioZt {
  width: 1160px;
  height: 195px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  margin-top: 15px; }
  body #main #radioZt .title {
    height: 30px; }
    body #main #radioZt .title .name {
      float: left; }
      body #main #radioZt .title .name img {
        float: left; }
      body #main #radioZt .title .name p {
        font-family: "Microsoft YaHei UI";
        font-size: 18px; }
    body #main #radioZt .title .more {
      float: right; }
      body #main #radioZt .title .more p {
        font-family: "Microsoft YaHei UI";
        font-size: 14px;
        line-height: 30px;
        color: #e3642d; }
  body #main #radioZt .content ul {
    width: 1180px;
    height: 164px; }
    body #main #radioZt .content ul li {
      width: 216px;
      float: left;
      margin-right: 20px; }
      body #main #radioZt .content ul li img {
        width: 216px;
        height: 122px; }
      body #main #radioZt .content ul li p {
        margin-top: 5px;
        font-size: 14px;
        line-height: 20px; }
body #main #ad_WX {
  margin-top: 20px;
  width: 1160px;
  height: 155px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  body #main #ad_WX #radio_ad {
    width: 835px;
    height: 130px;
    margin-top: 10px;
    border: 1px solid #d6d6d6;
    float: left; }
    body #main #ad_WX #radio_ad img {
      width: inherit;
      height: inherit; }
  body #main #ad_WX #WXmatrix {
    width: 300px;
    float: right; }
    body #main #ad_WX #WXmatrix .title {
      height: 30px; }
      body #main #ad_WX #WXmatrix .title .name {
        float: left; }
        body #main #ad_WX #WXmatrix .title .name img {
          float: left; }
        body #main #ad_WX #WXmatrix .title .name p {
          font-family: "Microsoft YaHei UI";
          font-size: 18px; }
      body #main #ad_WX #WXmatrix .title .more {
        float: right; }
        body #main #ad_WX #WXmatrix .title .more p {
          font-family: "Microsoft YaHei UI";
          font-size: 14px;
          line-height: 30px;
          color: #e3642d; }
      body #main #ad_WX #WXmatrix .title .name {
        margin-left: 5px; }
        body #main #ad_WX #WXmatrix .title .name p {
          color: black; }
    body #main #ad_WX #WXmatrix .content li {
      float: left;
      width: 100px;
      height: 115px;
      margin-bottom: 10px; }
      body #main #ad_WX #WXmatrix .content li img {
        width: 90px;
        height: 90px;
        margin: 5px; }
      body #main #ad_WX #WXmatrix .content li .wxBanner {
        height: 20px; }
        body #main #ad_WX #WXmatrix .content li .wxBanner p {
          text-align: center;
          color: white;
          font-size: 12px;
          line-height: 20px; }
    body #main #ad_WX #WXmatrix .content .ch1 {
      border-color: #05b4fb; }
      body #main #ad_WX #WXmatrix .content .ch1 .wxBanner {
        background-color: #05b4fb; }
    body #main #ad_WX #WXmatrix .content .ch2 {
      border-color: #d24a4a; }
      body #main #ad_WX #WXmatrix .content .ch2 .wxBanner {
        background-color: #d24a4a; }
    body #main #ad_WX #WXmatrix .content .ch3 {
      border-color: #92cf9a; }
      body #main #ad_WX #WXmatrix .content .ch3 .wxBanner {
        background-color: #92cf9a; }
    body #main #ad_WX #WXmatrix .content .ch4 {
      border-color: #efc703; }
      body #main #ad_WX #WXmatrix .content .ch4 .wxBanner {
        background-color: #efc703; }
    body #main #ad_WX #WXmatrix .content .ch5 {
      border-color: #7fcef4; }
      body #main #ad_WX #WXmatrix .content .ch5 .wxBanner {
        background-color: #7fcef4; }
    body #main #ad_WX #WXmatrix .content .ch6 {
      border-color: #a7509a; }
      body #main #ad_WX #WXmatrix .content .ch6 .wxBanner {
        background-color: #a7509a; }
    body #main #ad_WX #WXmatrix .content .ch7 {
      border-color: #e3e949; }
      body #main #ad_WX #WXmatrix .content .ch7 .wxBanner {
        background-color: #e3e949; }
    body #main #ad_WX #WXmatrix .content .ch8 {
      border-color: #86be0d; }
      body #main #ad_WX #WXmatrix .content .ch8 .wxBanner {
        background-color: #86be0d; }
    body #main #ad_WX #WXmatrix .content .ch9 {
      border-color: #de4700; }
      body #main #ad_WX #WXmatrix .content .ch9 .wxBanner {
        background-color: #de4700; }
    body #main #ad_WX #WXmatrix .content .ch10 {
      border-color: #05b4fb; }
      body #main #ad_WX #WXmatrix .content .ch10 .wxBanner {
        background-color: #05b4fb; }
body #main #hot_view_now {
  width: 1160px;
  height: 385px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  body #main #hot_view_now #hotPro {
    width: 450px;
    float: left; }
    body #main #hot_view_now #hotPro .title {
      height: 30px; }
      body #main #hot_view_now #hotPro .title .name {
        float: left; }
        body #main #hot_view_now #hotPro .title .name img {
          float: left; }
        body #main #hot_view_now #hotPro .title .name p {
          font-family: "Microsoft YaHei UI";
          font-size: 18px; }
      body #main #hot_view_now #hotPro .title .more {
        float: right; }
        body #main #hot_view_now #hotPro .title .more p {
          font-family: "Microsoft YaHei UI";
          font-size: 14px;
          line-height: 30px;
          color: #e3642d; }
    body #main #hot_view_now #hotPro .content ul {
      width: 468px; }
      body #main #hot_view_now #hotPro .content ul li {
        float: left;
        width: 216px;
        margin-bottom: 10px;
        margin-right: 18px; }
        body #main #hot_view_now #hotPro .content ul li img {
          width: 216px;
          height: 122px; }
        body #main #hot_view_now #hotPro .content ul li .txt {
          width: 195px;
          height: 25px;
          margin-right: auto;
          margin-left: auto;
          overflow: hidden; }
          body #main #hot_view_now #hotPro .content ul li .txt p {
            font-size: 13px;
            line-height: 25px;
            margin-top: 5px; }
          body #main #hot_view_now #hotPro .content ul li .txt .chName {
            width: 65px;
            float: left; }
            body #main #hot_view_now #hotPro .content ul li .txt .chName p {
              color: #d65a5a; }
          body #main #hot_view_now #hotPro .content ul li .txt .proTitle {
            width: 120px;
            float: right; }
  body #main #hot_view_now #viewPoint {
    width: 365px;
    float: left;
    margin-left: 22px; }
    body #main #hot_view_now #viewPoint .title {
      height: 30px;
      height: 20px; }
      body #main #hot_view_now #viewPoint .title .name {
        float: left; }
        body #main #hot_view_now #viewPoint .title .name img {
          float: left; }
        body #main #hot_view_now #viewPoint .title .name p {
          font-family: "Microsoft YaHei UI";
          font-size: 18px; }
      body #main #hot_view_now #viewPoint .title .more {
        float: right; }
        body #main #hot_view_now #viewPoint .title .more p {
          font-family: "Microsoft YaHei UI";
          font-size: 14px;
          line-height: 30px;
          color: #e3642d; }
    body #main #hot_view_now #viewPoint .content {
      margin-top: 5px; }
      body #main #hot_view_now #viewPoint .content .viewTop li {
        border-bottom: 2px dotted #dbdbdb;
        padding-bottom: 15px;
        margin-bottom: 15px; }
        body #main #hot_view_now #viewPoint .content .viewTop li .title .name {
          width: 100%; }
          body #main #hot_view_now #viewPoint .content .viewTop li .title .name p {
            font-size: 14px;
            font-family: 宋体;
            text-align: center; }
        body #main #hot_view_now #viewPoint .content .viewTop li .content {
          margin-top: 5px; }
          body #main #hot_view_now #viewPoint .content .viewTop li .content p {
            font-size: 14px;
            color: #7e7e7e; }
      body #main #hot_view_now #viewPoint .content .viewList li {
        height: 21px; }
        body #main #hot_view_now #viewPoint .content .viewList li p {
          font-size: 14px;
          line-height: 21px; }
        body #main #hot_view_now #viewPoint .content .viewList li .lmTitle {
          width: 80px;
          float: left; }
          body #main #hot_view_now #viewPoint .content .viewList li .lmTitle p {
            font-weight: bold; }
        body #main #hot_view_now #viewPoint .content .viewList li .articleTitle {
          width: 250px;
          float: right; }
  body #main #hot_view_now #nowPlay {
    width: 300px;
    float: left;
    background-color: #f5f5f5;
    margin-left: 23px; }
    body #main #hot_view_now #nowPlay .title {
      height: 30px;
      height: 20px; }
      body #main #hot_view_now #nowPlay .title .name {
        float: left; }
        body #main #hot_view_now #nowPlay .title .name img {
          float: left; }
        body #main #hot_view_now #nowPlay .title .name p {
          font-family: "Microsoft YaHei UI";
          font-size: 18px; }
      body #main #hot_view_now #nowPlay .title .more {
        float: right; }
        body #main #hot_view_now #nowPlay .title .more p {
          font-family: "Microsoft YaHei UI";
          font-size: 14px;
          line-height: 30px;
          color: #e3642d; }
      body #main #hot_view_now #nowPlay .title .name {
        margin-left: 30px; }
        body #main #hot_view_now #nowPlay .title .name p {
          color: black; }
      body #main #hot_view_now #nowPlay .title .more {
        margin-right: 10px; }
        body #main #hot_view_now #nowPlay .title .more p {
          color: #d14444;
          font-family: "Microsoft YaHei UI";
          font-size: 14px; }
    body #main #hot_view_now #nowPlay .content {
      margin-top: 10px; }
      body #main #hot_view_now #nowPlay .content li {
        height: 40px; }
        body #main #hot_view_now #nowPlay .content li p {
          font-size: 12px;
          line-height: 20px; }
        body #main #hot_view_now #nowPlay .content li .channelName {
          width: 75px;
          float: left;
          margin-left: 30px; }
          body #main #hot_view_now #nowPlay .content li .channelName p {
            color: #d14444; }
        body #main #hot_view_now #nowPlay .content li .playState {
          width: 130px;
          float: right;
          margin-right: 50px; }
body #main #radioZhuchiArea {
  margin-bottom: 30px;
  width: 1160px;
  height: 420px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  body #main #radioZhuchiArea .content {
    margin-top: 20px; }
    body #main #radioZhuchiArea .content a {
      display: block;
      float: left; }
    body #main #radioZhuchiArea .content .divmax {
      width: 224px;
      height: 103px;
      display: inline;
      margin-right: 10px;
      float: left; }
      body #main #radioZhuchiArea .content .divmax img {
        width: 224px;
        height: 216px; }
      body #main #radioZhuchiArea .content .divmax .banner {
        height: 25px;
        position: relative;
        top: -25px; }
        body #main #radioZhuchiArea .content .divmax .banner p {
          text-align: center;
          line-height: 25px;
          font-size: 14px;
          color: white; }
    body #main #radioZhuchiArea .content .divmin {
      width: 107px;
      height: 103px;
      display: inline;
      margin-right: 10px;
      float: left; }
      body #main #radioZhuchiArea .content .divmin img {
        width: 107px;
        height: 103px; }
      body #main #radioZhuchiArea .content .divmin .banner {
        height: 25px;
        position: relative;
        top: -25px; }
        body #main #radioZhuchiArea .content .divmin .banner p {
          text-align: center;
          line-height: 25px;
          font-size: 14px;
          color: white; }
    body #main #radioZhuchiArea .content .frame1 {
      height: 103px;
      width: 1170px;
      margin-bottom: 10px;
      display: block; }
    body #main #radioZhuchiArea .content .last {
      margin-right: 0px; }

/*# sourceMappingURL=radioindex.css.map */
