@charset "UTF-8";

@import "base.scss";


.banner {
  background-image: url(../img/bannerBG.png);
}

body {

  #main {
    margin-top: 30px;
    #mainChannelArea {
      @include contentSetup($contentWidth, 820px);
      @mixin setCol($w) {
        float: left;
        width: $w;
      }
      //左侧直播区
      #radioChannelLive {
        @include setCol(325px);
        #radioLivePlayer {
          height: 125px;
          img {
            width: 325px;
            height: 125px;
          }
        }
        #radioLiveList {
          @mixin setPlayMenu($percentW) {
            display: block;
            width: $percentW;
            font-size: 10px;
            line-height: 30px;
          }
          .bl {
            background-color: #b9e2f0;
          }
          .gr {
            background-color: #eeeeee;
          }
          li {
            height: 30px;
            .playTime {
              @include setPlayMenu(50%);
              float: left;
              text-align: right;
            }
            .playName {
              @include setPlayMenu(45%);
              float: right;
              text-align: left;
            }
          }
        }
        #radioAD {
          margin-top: 30px;
          width: 100%;
          height: 215px;
          img {
            width: 100%;
            height: 215px;
          }
        }
      }
      //中间频道资讯
      #radioChannelMidContent {
        @include setCol(475px);
        margin-left: 30px;
      //  广播频道介绍
        #radioChannelInfo {
          height: 313px;
          background-image: url(../img/radio_info.png);
          .title {
            padding-top: 10px;
            width: 455px;
            margin-left: auto;
            margin-right: auto;
            @include wtTitle();
            @include chSetColor();
            border-bottom: 1px solid #bfbfbf;
            .name {
              width: 164px;
              border-bottom-width: 5px;
              border-bottom-style: solid;
              height: 30px;
              p {
                text-align: center;
                color: black;
              }
            }
            .more {
              margin-right: 10px;
              float: right;
              p {
                font-size: 8px;
                color: #ce3a3a;
                font-family: "Microsoft YaHei UI";
                font-weight: bold;
              }
            }
          }
          .content {
            margin: 10px;
            p {
              font-size: 14px;
              line-height: 25px;
              text-indent: 2em;
            }
          }
        }
      //  各种资讯
        #radioFocus {
          height: 480px;
          .title {
            @include wtTitle();
            .name {
              height: 30px;

              p {
                color: black;
              }
            }
            .more {
              margin-right: 20px;
              p {
                font-size: 8px;
                color: #ce3a3a;
                font-family: "Microsoft YaHei UI";
                font-weight: bold;
              }
            }
          }
          .content {
            margin-top: 10px;
            li {
              height: 85px;
              padding-bottom: 17px;
              margin-bottom: 16px;
              border-bottom: 1px solid #d4d2d2;
              img {
                float: left;
                width: 150px;
                height: 85px;
              }
              //文字部分
              .txt {
                width: 300px;
                float: right;
                margin-right: 10px;
                .title {
                  height: 20px;
                  .name {
                    height: 20px;
                    p {
                      font-size: 15px;
                      font-weight: normal;
                    }
                  }

                }
                .content {
                  p {
                    font-size: 12px;
                    color: #8a8a8a;
                    text-align: left;
                    text-indent: 0;
                  }
                }
              }
            }
          }
        }
      }
    //  左边各种杂项
      #radioChannelMisc {
        @include setCol(300px);
        margin-left: 30px;
        //微信矩阵
        #WXmatrix {
          height: 300px;
          margin-top: 10px;
          .title {
            @include wtTitle();
            .name {
              margin-left: 5px;
              p {
                color: black;
              }
            }
          }
          .content {
            li {
              float: left;
              width: 100px;
              height: 115px;
              margin-bottom: 10px;
              img {
                width: 90px;
                height: 90px;
                margin: 5px;
              }
              .wxBanner {
                height: 20px;
                p {
                  text-align: center;
                  color: white;
                  font-size: 12px;
                  line-height: 20px;
                }
              }
            }
            @include chSetColor();
          }
        }
      //  正在播出
        #nowPlay {
          height: 510px;
          background-color: #f5f5f5;
          .title {
            @include wtTitle();
            padding-top: 10px;
            height: 30px;
            .name {
              margin-left: 30px;
              p {
                color: black;
              }
            }
            .more {
              margin-right: 10px;
              p {
                color: #d14444;
                font-family: "Microsoft YaHei UI";
                font-size: 10px;
              }
            }
          }
          .content {
            margin-top: 10px;
            li {
              height: 40px;
              margin-bottom: 5px;
              p {
                font-size: 13px;
                line-height: 20px;
              }
              .channelName {
                width: 75px;
                float: left;
                margin-left: 30px;
                p {
                  color: #d14444;
                }
              }
              .playState {
                width: 130px;
                float: right;
                margin-right: 50px;
              }
            }
          }
        }
      }

    }
  //  主播区
    #channelZhuchiArea {
      margin-top: 30px;
      @include contentSetup($contentWidth, 300px);
      @mixin setPicDiv($w, $h, $picH) {
        width: $w;
        height: $h;
        display: inline;
        margin-right: 10px;
        float: left;
        img {
          width: $w;
          height: $picH;
        }
        .banner {
          height: 25px;
          position: relative;
          top: -25px;
          p {
            text-align: center;
            line-height: 25px;
            font-size: 14px;
            color: white;
          }
        }
      }
      .content {
        margin-top: 20px;
        a {
          display: block;
          float: left;
        }
        .divmax {
          @include setPicDiv(224px, 103px, 216px);
        }
        .divmin {
          @include setPicDiv(107px, 103px, 103px);
        }
        .frame1 {
          height: 103px;
          margin-bottom: 10px;
          display: block;
        }

        .last {
          margin-right: 0px;
        }
      }
    }
    // 微博区
    #weibo {
      margin-top: 30px;
      margin-bottom: 50px;
      width: $contentWidth;
      margin-left: auto;
      margin-right: auto;
    }
  }
}